@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

.card {
    width:70%;
    text-align:center;
    margin:0 auto;
    margin-top:250px;
}

.card-header {
  font-size: 25pt;
}

.card img {
    max-width:100%;
    width:50%;
    padding-top: 30px;
}

.card-body p {
  font-size:18pt
}

.card-title {
  font-size: 30pt
}

.post_detail {
    margin: 0 auto;
    width: 100%;
}

.image img {
    max-width:100%;
    width: 50%;
    margin: 0 auto;
}

.post_detail p {
    width: 70%;
    margin:0 auto;
    font-size:20pt;
    padding-top:20px;
}

.post_detail h1 {
    padding-top:150px;
    padding-bottom: 50px;
}

.post_image img {
    max-width: 100%;
    width: 20%;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-top: 60px;
    position: relative;
}

@media (max-width:540px) {
    .card img {width: 100%;}
    .card-header{font-size: 15pt}
    .card-body p {font-size:12pt}
    .card{margin-top:100px;}
    .image img{width: 100%}
    .post_image img{width: 100%; margin:0 auto;}
}
