@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

.content {
    margin: 0 auto;
    width: 100%;
    padding-top:150px;
}

.content p {
    font-size: 20pt;
}

.date {
    font-size: 15pt;
    text-decoration: none;
}

.content img {
    max-width: 100%;
    height:350px;
}

.content h1 a{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:45pt;
}

.content a {
    margin-bottom: 30px;
}

.image img {
    max-width:100%;
    width:60%;
    margin:0 auto;
}

.post_detail {
    width: 100%;
    margin:0 auto;
}

.post_detail p {
    width: 70%;
    margin:0 auto;
    font-size:20pt;
    padding-top:100px;
}

.date li {
    font-size: 15pt;
    width:59%;
}

.post_detail h1 {
    padding-top:150px;
    padding-bottom: 50px;
}

.post_image img {
    max-width: 100%;
    width: 20%;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-top: 60px;
    position: relative;
}


