@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

.navbar-brand {
    font-size:36pt;
    font-family: 'Francois One', sans-serif;
}

.nav-item {
    font-size: 25pt;
    font-family: 'Francois One', sans-serif;
}

@media (max-width:450px) {
    .navbar-brand {font-size:32pt;}
    .nav-item {font-size: 20pt;}
}