{% extends 'example/index.html' %}

{% load static %}
{% block title %}Home{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block scripts %}{% endblock %}
{% block style%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock%}

{% block content%}
<div class="container-fluid">
	<div class="row">
		<div class="col-4 col-xs-4">
			<div class="left row p-4 text-center">
				<p>Hello everyone!<br> How are you? Hope very cool. My name is Arthur and I want to introduce my liveblogdjango.
					Here I will post various news related to me, and also throw off the links of my new sites,
					which you can also take a look at!</br></p>
			</div>
		</div>
		<div class="right col-8 p-8 col-xs-12 text-center">
			<img src="media/media/image/pythondj.jpg">
		</div>
{% endblock %}
