{% extends 'example/index.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block scripts %}{% endblock %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% block style%}{% endblock%}

{% block content %}
   {% for post in post %}
<!--Post List-->
<div class="content block">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 col-xs-12">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                {% if post.title_image %}
                <div class="col-xs-12">
                    <p><a href="{% url 'post_detail' pk=post.pk%}"><img src="{{post.title_image.url}}"></a></p>
                </div>
                {% else %}
                <p></p>
                {% endif %}
                <!-- Date-->
                <div class="date_post block">
                    <div class="col-xs-12 text-center">
                        <li>Опубликовано: {{ post.published_date }}</li>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <!-- Post Detail-->
                    <a href="{% url 'post_detail' pk=post.pk%}" class="btn btn-dark" role="button" aria-pressed="false"  autocomplete="off">Читать cтатью</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %} 