{% extends 'example/index.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block scripts %}{% endblock %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% block style%}{% endblock%}

{% block content %}
   {% for post in post %}
   <div class="card bg-light">
     <h1 class="card-header">{{post.title}}</h1>
     {% if post.title_image %}
     <div class="col-xs-12">
       <p><a href="{% url 'post_detail' pk=post.pk%}"><img src="{{post.title_image.url}}"></a></p>
     </div>
     {% else %}
     <p></p>
     {% endif %}
     <div class="card-body">
       <p class="card-text" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{post.text}}</p>
       <a href="{% url 'post_detail' pk=post.pk%}" class="btn btn-dark" role="button" aria-pressed="false"  autocomplete="off">Look post</a>
       <p class="card-text"><small class="text-muted">{{post.published_date}}</small></p>
     </div>
     </div>
    {% endfor %}
{% endblock %}
