{% extends 'example/index.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}

<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% block style%}{% endblock%}

{% block content %}
<div class="post_detail block">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-xs-12">
                <h1>{{ post.title }}</h1>
                {% if post.title_image %}
                <div class="image block">
                    <div class="col-xs-12 text-center">
                        <img src="{{post.title_image.url}}">
                        {% else %}
                        <p></p>
                        {% endif %}
                    </div>
                </div>
                <div class="date block">
                    <div class="col-xs-12 text-center">
                        <li>published: {{ post.published_date }}</li>
                    </div>
                </div>
                <hr>
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <p>{{ post.text|linebreaksbr }}</p>
                <div class="post_image block">
                    <div class="col-xs-12">
                {% if post.image%}
                <div class="post_image block">
                    <a href="{{post.image.url}}" class="ulightbox"><img src="{{post.image.url}}"></a>
                {% else %}
                <p></p>
                {% endif %}
                {% if post.image1%}
                    <a href="{{post.image.url}}" class="ulightbox"><img src="{{post.image.url}}"></a>
                {% else %}
                <p></p>
                {% endif %}
                {% if post.image2%}
                    <a href="{{post.image.url}}" class="ulightbox"><img src="{{post.image.url}}"></a>
                {% else %}
                <p></p>
                {% endif %}
                </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}