.left p {
    font-size: 30px;
    max-width: 100%;
    width: 100%;
}

.container-fluid {
  padding-top:250px;
}

.right img {
  max-width: 100%;
}

@media (max-width:540px) {
	.left p{width: 100%; font-size: 18px; padding-top: 100px;}
  .container-fluid{padding-top:0px}
}
