#left p {
    font-size: 30px;
    width: 100%;
    margin-top: 300px;
}

#right {
    max-height: 100vh;
    height: 100vh;
    float:right;
    background-color:#fe7e75;
    padding-bottom: 500px;
}

#right img {
    max-width: 100%;
    width: 100%;
    height:450px;
    margin-top: 300px;
}