{% extends 'example/index.html' %}

{% load static %}

{% block title %} Social Networks {% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block scripts %}{% endblock %}

{% block style%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock%}

{% block content %}
<div class="social block bg-light">
<div class="container-fluid">
    <div class="row text-center bg-light justify-content-center">
        <div class="col-xs-10 col-md-12 col-lg-12 col-xl-12">
            <h1>Me on social networks</h1>
        </div>
        <hr>
            <div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-vk fa-5x"></i>
                <h3><a href="https://vk.com/lilartti ">VK</a></h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-linkedin fa-5x"></i>
                <h3><a href="#">LinkedIn</a></h3>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}